*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore

# Игнорирование всех файлов сборки Gradle и конфигурации для GitHub
# Только исходный код во фреймворке будет отправляться в Git
# build.gradle.kts
# settings.gradle.kts
# gradle.properties
#/gradle/
# gradlew
# gradlew.bat
metadata.json
firebase-applet-config.json
debug.keystore.base64
.build-outputs/

